@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  strong, b {
    font-weight: 700;
  }
}

.title-1 {
  font-size: 40px;
  color: $green-e;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

p {
  font-size: 18px;
  font-weight: 300;
}

strong,
b {
  font-weight: 600;
}

.fs-20 {
  font-size: 20px;
}

.fs-27 {
  font-size: 27px;
}

.fs-40 {
  font-size: 40px;
}

.p-fs-26 {
  p {
    font-size: 26px;
    strong,
    b {
      font-weight: 600;
    }
  }
}

.p-fs-28 {
  p {
    font-size: 22px;
    strong,
    b {
      font-weight: 600;
    }
  }

  li {
    font-size: 22px;
  }
}
